/* latin */
@font-face {
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    src: local('Fauna One'), local('FaunaOne-Regular'), url(https://fonts.gstatic.com/s/faunaone/v5/cSd7NBXNFQWK4oX1706dY1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v12/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-size: 18px;
    font-family: 'Fauna One', serif;
    line-height: 1.6rem;
}

.text-light {
    color: lightgray;
}

.text-dark {
    color: dimgray;
}

nav span {
    margin-left: 16px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7rem;
    padding: 1rem 0;
}

.flex {
    display: flex;
    align-items: center;
}

section {
    padding-top: 32px;
    padding-bottom: 32px;
}

.large-column {
    width: 60%;
}

.news-cards {
    width: 40%;
}

.news-card {
    padding: 16px;
    border: 1px solid lightgray;
}

.news-card img {
    width: 35%;
    height: auto;
}

.dark-bg {
    background-color: lightgray;
}

.snippet {
    padding: 0 5%;
    width: 65%;
}

.caps {
    text-transform: uppercase;
}

/* Header */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 64px;
    margin-top: -64px;
    background-color: white;
    border: 1px solid lightgray;
}

header .branding {
    flex-grow: 1;
    padding-left: 1.5rem;
}

header .branding img {
    height: 32px;
}

header .branding span {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}

header nav {
    margin-right: 24px;
}

header nav span {
    font-size: 1.3rem;
}

header.mobile {
    display: none;
}

@media only screen and (max-width: 725px) {
    header.no-mobile {
        display: none;
    }
    
    header.mobile {
        display: flex;
        justify-content: space-around;
    }
}

/* Banner */
.banner {
    margin-top: 64px;
    padding: 0 auto;
}

.banner img {
    width: 60%;
    margin: 32px 24px;
}

.banner .text {
    height: 100%;
    width: 25%;
}

.banner h1 {
    font-size: 3.2rem;
}

.banner .button {
    background-color: dimgray;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    margin: 1rem 0;
}

@media only screen and (max-width: 850px) {
    .banner {
        flex-direction: column;
    }

    .banner img {
        width: 90%;
    }

    .banner .text {
        width: 90%;
    }
}

/* Information */
.large-column img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.large-column h1 {
    margin: 0 5%;
}

.large-column blockquote {
    margin: 0 5%;
    padding: 1rem 0;
    line-height: 1.6rem;
}

.large-column figcaption {
    margin: 0 5%;
    padding: 1rem 0;
}

@media only screen and (max-width: 850px) {
    .information .no-mobile {
        display: none;
    }

    .information .news-cards {
        width: 100%;
    }
    
    .information .news-card {
        flex-direction: column;
    }
    
    .information .news-card img {
        width: 90%;
        max-width: 500px;
        max-height: 200px;
        object-fit: cover;
    }
}

/* Course */
.course h1 {
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    width: 26%;
    background-color: white;
    min-height: 380px;
    margin: 24px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding-left: 1rem;
}

.card p {
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 725px) {
    .course .no-mobile {
        display: none;
    }

    .course.dark-bg {
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
        background-color: lightgray;
        min-height: 0;
        margin: 4px auto;
    }
}

/* Thesis */
.thesis h1 {
    text-align: center;
}

video {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.large-column h2, .large-column p {
    margin: 0 5%;
}

@media only screen and (max-width: 850px) {
    .thesis .no-mobile {
        display: none;
    }

    .thesis .large-column {
        width: 100%;
    }

    video {
        width: 100%;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 1rem 1.5rem 3rem;
}

@media only screen and (max-width: 725px) {
    footer .no-mobile {
        display: none;
    }

    footer {
        justify-content: center;
    }
}
